body {
    margin: 0;
}

.section {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 2em;
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
}
.section:nth-child(2) {
	width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background: #DD5044;
}
.section:nth-child(3) {
	width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background: #17A05E;
    
}
.section:nth-child(4) {
	width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background: #F8710E;
   
}
.section:nth-child(5) {
	width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background: #4B8BF5;
    
}

